body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
